<div *ngIf="galleriesCount > 0">
    <div class="card mb-3" *ngFor="let gallery of galleries">
        <h3 class="card-header" ><a [routerLink]="['/galleries', gallery.id]">{{gallery.title}}</a></h3>
        <div class="card-body">
            <div *ngIf="auth.isAuthenticated">
                <a [routerLink]="['/authors', gallery.author_id]">{{gallery.user.first_name}} {{gallery.user.last_name}}</a>
            </div>
            <div *ngIf="!auth.isAuthenticated">
                <p>{{gallery.user.first_name}} {{gallery.user.last_name}}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{gallery.created_at}}</p>
            </div>
            <h5 class="card-title">Description</h5>
            <h6 class="card-subtitle text-muted">{{gallery.description}}</h6>
            <img style="height: 200px; width: 300px; display: block;" src="{{gallery.pictures[0].picture_url}}" alt="Card image">
        </div>
    </div>
</div>

<div *ngIf="galleriesCount == 0">
    <p class="alert-danger">No Galleries!</p>
</div>
<button class="badge-light" (click)="loadMore()" *ngIf="galleriesCount >= selectCount">Load More</button>
